@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

@media screen and (min-width: 480px) {
  .card:nth-child(7n + 1) {
    grid-column: auto/span 2;
    grid-row: auto/span 2;
  }
}

.prompt::-webkit-scrollbar {
  width: 5px;
}

.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  @apply dark:bg-[#1d2023]  bg-zinc-100;
}

body::-webkit-scrollbar {
  @apply bg-gray-200 w-[8px]  ;
}

body::-webkit-scrollbar-thumb {
  @apply bg-[#ffffff20] hover:bg-[#ffffff30]  rounded-lg;
}
